<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dorazy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dorazy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dorazy_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dorazy">
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonalRankingActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".CreateAccountActivity"/>
        <activity android:name=".stopwatch" />
        <activity android:name=".CreateProfileActivity"/>

    </application>

</manifest>